.hero {
	padding: 39px 0;
	position: relative;

	@media all and (min-width: $sm) {
		padding: 63px 0;
	}

	@media all and (min-width: $lg) {
		padding: 61px 0;
	}

	&__bg {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		z-index: -1;
		width: 100%;
		height: 100%;
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;

		@media all and (min-width: $xl) {
			flex-direction: row;
			align-items: flex-start;
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		width: 100%;
		max-width: 673px;
		margin-bottom: 21px;
		

		@media all and (min-width: $sm) {
			margin-bottom: 26px;
		}

		@media all and (min-width: $xl) {
			margin-bottom: 0;
		}

		.h1 {
			margin-bottom: 10px;
			max-width: 673px;

			@media all and (min-width: $sm) {
				margin-bottom: 20px;
			}
		}
	}

	&__heading {
		margin-bottom: 21px;

		&_text {
			color: $black;
			font-family: $ff;
			font-size: 14px;
			font-style: normal;
			font-weight: $fw-regular;
			line-height: normal;
			width: 100%;
			max-width: 619px;
			text-align: center;

			@media all and (min-width: $sm) {
				font-size: 18px;
				margin-bottom: 26px;
			}

			@media all and (min-width: $xl) {
				text-align: left;
				margin-bottom: 37px;
			}
		}
	}

	&__img_wrapper {
		display: flex;
		justify-content: center;
		

		@media all and (min-width: $xl) {
			position: absolute;
			right: 0;
			top: 54%;
			transform: translateY(-50%);
		}
	}

	&__img {
		width: 243px;
		height: 329px;

		@media all and (min-width: $sm) {
			width: 434px;
			height: 588px;
		}

		@media all and (min-width: $xxl) {
			width: 597px;
			height: 808px;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}

.form {
	width: 100%;
	max-width: 590px;
	background-color: $white;
	padding: 20px;
	box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.05);
	margin: 0 auto;

	@media all and (min-width: $sm) {
		padding: 40px 28px;
	}

	@media all and (min-width: $xl) {
		padding: 40px 58px;
		margin: 0;
	}

	fieldset {
		display: flex;
		flex-direction: column;

		input {
			width: 100%;
			color: $grey;
			font-family: $ff;
			font-size: 18px;
			font-style: normal;
			font-weight: $fw-regular;
			line-height: normal;
			border: 1px solid #9FA2AE;
			padding: 18px 20px;
			border-radius: 5px;
			margin-bottom: 25px;

			&:last-child {
				margin-bottom: 0;
			}

			&::placeholder {
				color: $grey;
				font-family: $ff;
				font-size: 18px;
				font-style: normal;
				font-weight: $fw-regular;
				line-height: normal;
			}
		}

		.checkbox__wrapper {
			margin-bottom: 25px;
		}

		label {
			width: 100%;
			height: 100%;
			color: #464646;
			font-family: $ff;
			font-size: 14px;
			font-style: normal;
			font-weight: $fw-regular;
			line-height: normal;
			position: relative;
			cursor: pointer;
			padding-left: 25px;

			@media all and (min-width: $sm) {
				font-size: 16px;
			}
		}
	}
}